:root{
    --btn_bg: #ffa600;
    --btn_color: #fff;
    --a_href_color: #000;           
    --level_1_color: #222;          
    --product_price_color: #222;    
    --product_title_color: #30323A; 
    --footer_bg: #f9f9f9;       
    --header_bg: #fff;      
    --top_menu_bg: #ffc14d;    
    --body_color: #222;     
    --body_bg: #fff;
    --top_menu_color: #000;
    --h2_color: #30323A;
    --login_btn_bg: transparent;
    --login_btn_color: #000;
    --cart_number_bg: #ffa600;
    --categories_title_bg: #fff;
    --categories_level_1_bg: #fff;
    --categories_level_2_bg: #f5f5f5;
    --level_2_color: #222;
    --inner_body_bg: #fff;
    --product_bg: #fff;
    --product_bottom_bg: #fff;
    --review_star_color: #D13E3B;
    --paragraph_color: #fff;
    --h5_color: #fff;
    --input_bg_color: #fff;
    --breadcrumb_bg: #fff;
    --product_list_bg: #f9f9f9;
    --currency_bg: #fff;
    --currency_color: #000;
    --filters_bg: #fff;
    --pagination_bg: #fff;
    --pagination_bg_active: #fff;
    --pagination_color_active:  #337ab7;
    --article_product_price_color: #ffa600;
    --discount_price_color: #ffa600;
    --add_to_cart_btn_bg: #F8694A;
    --add_to_cart_btn_color: #fff;
    --add_to_cart_btn_bg_hover: #fff;
    --add_to_cart_btn_bg_not_available: #f79888;
    --btn_hover_bg: #4a91e8;
    --sale_action_price_bg: #ffa600;
    --sale_action_bg: #30323A;
    --product_old_price_color: #F8694A;
    --label_color: #666;
    --scroll_top_bg: #ffa600;
    --global_color: #ffa600;
    --blue: #ffa600;
    --light-gray: #ffc14d;  
    }

    .button:hover, .JSsearch-button2:hover {
        background-color: #e69500;
    }
    .header-cart .fas, .review i,
    .pagination li a, .pagination>.active>a, .pagination>.active>a:hover {
        color: #ffa600;
    }